{% extends 'base.html.twig' %}


{% block body %}


<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>Bienvenido a NEXT SONG</h1>
            <p>En esta página podras introducir tus gustos musicales y artistas favoritos, para 
                poder obtener canciones que sean de tu interes, semejantes a los datos establecidos. </p>
            <p>Registrate en el sistema si quieres guardar tus perfiles para que así no se borren.</p>
            <a href="/login">
                <button class="btn btn-light" type="button">
                    <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                    </svg>
                    Registrarse
                </button>
            </a>

            <form id="formAddCancion" name="formAddCancion" method="POST" action="{{ path ('buscar') }}">
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <h3> ¿Qué tipo de musica te gusta?</h3>
                            <table class="table table-striped">
                                <tbody>
                                    {% for e in etiquetas %}
                                        <tr>
                                            <th scope="row">{{e.nombre}}</th>
                                            <td>
                                                <input class="selectEtiqueta" type="checkbox" name="etiqueta[]" value="{{e.idEtiquetas}}"/>
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <h3> ¿Cuáles son tus artistas favoritos?</h3>
                            <table class="table table-striped">
                                <tbody>
                                    {% for a in autores %}
                                        <tr>
                                            <th scope="row">{{a.nombre}}</th>
                                            <td>
                                                <input class="selectEtiqueta" type="checkbox" name="etiqueta[]" value="{{a.idEtiquetas}}"/>
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <input class="btn btn-light" type="submit" id="enviar" name="submit" value="Buscar"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}  